{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid my-5">
  <div class="row no-gutter">
    <div class="col_scroll">      	   
	  <h1 class="my-4 ml-2">Nearby Rides
		<small></small>
	  </h1>
			  <!-- Route -->

			  {% for event in events %}
			  	<div class="row color" data-select="{{event.id}}" onmouseover="cardIn({{event.id}})" onmouseout="cardOut({{event.id}})">
				<div class="col-md-3 activity">
					<a class="explorbutton" href="https://www.mtbproject.com/trail/5025822/marshall-canyon" target="_blank"> 
						<div class="img-fluid  rounded my-2 ml-3 activity_img" style = "background: url('https://cdn-files.apstatic.com/mtb/5260391_medium_1554330297.jpg'); background-position: center; background-size: cover;"></div>
					</a>
				</div>
				<div class="col-md-8 my-2 activity_desc">
				  <a class="explorbutton" href="https://www.mtbproject.com/trail/5025822/marshall-canyon" target="_blank"> 
				  <h3 class="mb-0 pb-0">{{event.title}}</h3></a>
				  <p>
				  Flow like a dream beneath the oaks in SoCal&#39;s very own Sherwood Forest
					<ul>
						<li>  <i class="fas fa-star"></i>  <i class="fas fa-star"></i>  <i class="fas fa-star"></i>  <i class="fas fa-star"></i>  (85 votes)</li>
						<li>blue</li>
						<li>10.4 miles</li>
						<li>1355 ft ascent</li>
					</ul>
				  </p>
				</div>
			  </div>
			  {% endfor %}
		  
    </div>
    <div class="map_col">
		<div id="map-render" style="width:100%; height:100%;"></div>
    </div>
  </div>
</div>
	<script>
		var latLng = []
		{% for event in events %}
			latLng.push({
				title: '{{event.title}}',
				id:'{{event.id}}',
				latitude:'{{event.latitude}}',
				longitude:'{{event.longitude}}',				
			})
		{% endfor %}
		const start = '{{start_lat}}'
		const end = '{{start_lng}}'
	</script>
	<script src="{% static 'js/index.js' %}"></script>
{% endblock content %}
